<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>440456053618-u5brtfup8o44dir5o9l8943pq1r2j144.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440456053618-u5brtfup8o44dir5o9l8943pq1r2j144</string>
	<key>API_KEY</key>
	<string>AIzaSyABVGzF0VyB9a0E1JhDlctEzvPp8Unzs4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>440456053618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SweetPea.BlipBloop</string>
	<key>PROJECT_ID</key>
	<string>blipbloop-3314a</string>
	<key>STORAGE_BUCKET</key>
	<string>blipbloop-3314a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:440456053618:ios:5980086f99637273</string>
	<key>DATABASE_URL</key>
	<string>https://blipbloop-3314a.firebaseio.com</string>
</dict>
</plist>
